@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  line-height: 1.5;

  color: rgba(255, 255, 255, 0.87);
  background-color: hsl(202, 86%, 94%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: hsl(61, 70%, 52%);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: hsl(61, 66%, 78%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lime {
  color: hsl(61, 70%, 52%);
}

.bg-lime {
  background-color: hsl(61, 70%, 52%);
}

.border-lime {
  border-color: hsl(61, 70%, 52%);
}

input[type='radio']:after {
  background-color: #ffffff;
  color: #ffffff;
}
